/* Estilos CSS */

/* Reset CSS */

* {
    padding: 0;
    margin: 0;
}

/* Estilos generales del cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f7f7;
    /* Color de fondo elegante */
}

/* Estilos del header */
header,
nav {
    background-color: #f9e6e6;
    /* Color de fondo del header y navbar */
    padding: 1rem 3rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos del navbar */
nav {
    text-align: center;
}

.menu-nav li {
    display: inline-block;
}

/* Estilos de títulos */
h1 {
    text-align: center;
    font-style: italic;
}
h2 {
    text-align: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #555;
    /* Color de los enlaces del navbar */
    font-weight: bold;
}
nav a:hover {
    color: blueviolet;
}

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centra horizontalmente */
    padding: 0 20px;
    /* Añade un espacio a los lados */
}

/* Estilos de las secciones */
.section {
    display: none;
    padding: 20px;
    background-color: #fff;
    /* Color de fondo de las secciones */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    /* Espacio entre secciones */
    width: 100%;
    /* Ocupa todo el ancho */
    max-width: 600px;
    /* Limita el ancho */
}

/* Estilo para mostrar la sección activa */
.section.active {
    display: block;
}

/* Estilos del footer */
footer {
    background-color: #f9e6e6;
    /* Color de fondo del footer */
    padding: 10px 20px;
    margin-top: auto;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo de subtítulo */
h2 {
    text-align: center;
}

/* Estilos del formulario */
form {
    margin: auto;
    background-color: #f9e6e6;
    /* Color de fondo del formulario */
    padding: 3vh 4%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    /* Limita el ancho */
    width: 100%;
    /* Ocupa todo el ancho */
}

/* Estilos de los campos del formulario */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilos del botón de envío */
input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

/* Estilos de cada elemento de la galería */
.gallery-item {
    background-color: #ddd;
    /* Color de fondo de las imágenes */
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.gallery-item p {
    margin-top: 10px;
}
.stylish {
    font-style: italic;
}



